* {
    padding: 0;
    margin: 0;
}

body{
    width: 99%;
    height: 97%;
    background-image: url(background.png.jpg);
    background-size: cover;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 40px ;
}

.logo {
    font-size: 30px;
    color: white;
}

.nav{
    position: relative;
    left: -50px;
}

a{
    padding: 5px 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 133, 7);
    text-decoration: underline;
    text-underline-position: under;
}

.search {
    font-size: 25px;
}

.search i{
    padding: 5px 20px;
}

/* heading */

.heading {
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    align-items: center;
}

.right{
    width: 440px;
    height: 440px;
    background-image: url(food.png.png);
    background-size: cover;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right::before{
    width: 430px;
    height: 430px;
    border: 2px solid transparent;
    content: '';
    position: absolute;
    border-radius: 430px;
    padding: 10px;
}

/* left */

.left p:nth-child(1){
    color: rgb(0, 54, 3);
    font-size: 35px;
    letter-spacing: 1px;
    font-style: italic;
}

.left h1{
    font-size: 50px;
    color: rgb(255, 72, 0);
}

.left p:nth-child(3){
    color: rgb(0, 54, 3);
    font-size: 27px;
    font-style: italic;
}

.left button{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    color: rgb(0, 54, 3);
    margin: 20px 0px;
}

/* SocialMedia */

.SocialMedia{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 200px;
    background-color: whitesmoke;
    font-size: 20px;
}

.SocialMedia i:hover {
    color: rgb(0, 54, 3);
}

/* bottom */

#food,#food2{
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0px 20px;
}

#food{
    background-image: url(food.png.png);
}

#food2{
    background-image: url(food2.png.png);
}

.menu{
    display: flex;
    margin: 0px 100px;
}